@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <select id="searchtext" asp-for="IdEntity" class="form-control" asp-items="ViewBag.IdEntity">
    <option value="">-- Seleccione --</option>
</select>

<script>
    $(document).ready(function() {
        $('#searchtext').select2({
            placeholder: "Escriba para buscar...",
            allowClear: true,
            width: '100%' // Asegura que ocupe todo el ancho del input
        });
    });
</script> 
*@